*{
    margin: 0;
    padding: 0;
    
}

#container{
    background-color: antiquewhite;
    height: 100vh;
    display: flex;
}


.slide{
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    overflow:scroll;
    scroll-behavior: smooth;
}
.ensemble-fleche{
    width:700px;
    min-width: 700px;
    display: flex;
    margin: auto;
}

::-webkit-scrollbar{
    display: none;
}
.card{
border: 1px solid whitesmoke;
border-radius: 10px;
width:200px;
height: 200px;
min-width:200px;
min-height:200px;
transition-duration: 1000ms;
margin: 5px;
z-index: 1;
}
.card1{
    background: url(media/cat1.jpeg);
    background-size: cover;
}
.card2{
background:url(media/cat2.jpeg);
background-size: cover;

}
.card3{
background:url(media/cat3.jpeg);
background-size: cover;
}
.card4{
background:url(media/cat4.jpeg);
background-size: cover;
}
.card5{
background:url(media/cat5.jpeg);
background-size: cover;
}
.card6{
background:url(media/cat6.jpeg);
background-size: cover;
}
.card7{
background:url(media/cat7.jpeg);
background-size: cover;
}
.card8{
background:url(media/cat8.jpeg);
background-size: cover;
}
.card9{
background:url(media/cat9.jpeg);
background-size: cover;
}