*{
    margin: 0;
    padding: 0;
    
}

#container{
    background-color: antiquewhite;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}


.slide{
    padding-top: 80px;
    padding-bottom: 80px;
    
    display: flex;
    overflow:scroll;
    scroll-behavior: smooth;
}
.ensemble-fleche{
    width:681px;
    min-width: 681px;
    display: flex;
    margin: auto;
}

::-webkit-scrollbar{
    display: none;
}
.card{

border-radius: 10px;
width:200px;
height: 200px;
min-width:200px;
min-height:200px;
transition-duration: 1000ms;
margin: 5px;
z-index: 1;
}
.card1{
    background: url(media/paysage1.jpeg);
    background-size: cover;
}
.card2{
background:url(media/paysage2.jpeg);
background-size: cover;

}
.card3{
background:url(media/paysage3.jpeg);
background-size: cover;
}
.card4{
background:url(media/paysage4.jpeg);
background-size: cover;
}
.card5{
background:url(media/paysage5.jpeg);
background-size: cover;
}
.card6{
background:url(media/paysage6.jpeg);
background-size: cover;
}
.card7{
background:url(media/paysage7.jpeg);
background-size: cover;
}
.card8{
background:url(media/paysage8.jpeg);
background-size: cover;
}
.card9{
background:url(media/paysage9.jpeg);
background-size: cover;
}